<header class="header">
  <div class="container header-container">
    <div class="header-left">
    <a href="./index.html" class="header-logo">
      <img src="./img/svg/logo.svg" alt="Logo" />
    </a>

    <nav class="header-nav">
      <ul class="nav-list">
        <li><a href="./index.html" class="nav-link">Home</a></li>
        <li><a href="./mission.html" class="nav-link">Mission</a></li>
        <li><a href="./benefits.html" class="nav-link">Benefits</a></li>
        <li><a href="./assortment.html" class="nav-link">Assortment</a></li>
        <li><a href="./feedbacks.html" class="nav-link">Feedbacks</a></li>
        <li><a href="./faq.html" class="nav-link">FAQ</a></li>
        <li><a href="./contact.html" class="nav-link">Contact</a></li>
       </ul>
    </nav>
    </div>
    <div class="header-right">
      <button type="button" class="order-btn">Order</button>
      <button type="button" class="menu-open-btn">
      <svg class="menu-open-icon" width="24" height="24">
        <use href="./img/svg/menu.svg"></use>
      </svg>
    </button>
    </div>
  </div>
</header>