 .nav-list {
  display: flex;
  gap: 32px;        
  margin: 0;
  padding: 0;
}


.nav-link {
  color: #ffffff;      
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #f0f0f0; 
}


.header {
  background-color: #5E8A4D; 
  padding: 1px 0;
}

.header-container {
  display: flex;
  align-items: center;      
  justify-content: space-between;
  margin: 0 auto;
  padding: 1px 6px;
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
.order-btn {
  padding: 4px 24px 4px 24px; 
  
  background-color: #1A5901;
  border: none; 
  border-radius: 6px;       
  
 
  color: #FFFFFF;
  font-family: 'public sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.order-btn:hover {
  background-color: #1A5901;
  color: #000000; 
}


.header-left {
  display: flex;
  align-items: center;
  gap: 430px;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 16px; 
}