.hero {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
 url('../img/hero-mob@1x.jpg');
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  font-family: 'Chivo', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
}

.hero-text {
  font-family: 'public sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px; margin-left: 0; margin-right: auto;
  color: #ffffff;     
}

.hero-btn {
  font-family: 'public sans', sans-serif;
  padding: 6px 32px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid transparent;
  background-color: #fff;
  color: #010400;
  border: 1px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.hero-btn:hover {
  background-color: #5E8A4D;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
    url('../img/hero-mob@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
    url('../img/hero-tab@1x.jpg');
    padding: 234px 0 234px 0;
  }
  .hero-text {
    max-width: 600px;
  } 
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
    url('../img/hero-tab@2x.jpg');
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
    url('../img/hero-desk@1x.jpg');
    padding: 326px 0 326px 0;
  }
  .hero-title {
    font-size: 56px;
    max-width: 600px;
  }
  .hero-text {
    max-width: 650px;
  } 
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
    url('../img/hero-desk@2x.jpg');
  }
}
